html,body
{
  background: #303030 !important;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  margin: 0;
  padding-top: 70px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;

}

app-root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
